# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches: [master]
    paths:
      - 'src/**'
      - '.github/workflows/npm-publish.yml'
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v3
 
    - name: setup node
      uses: actions/setup-node@v3
      with:
        node-version: 16
        registry-url: https://registry.npmjs.org

    - name: Lint Action
      uses: wearerequired/lint-action@v2
      with:
        eslint: true
        prettier: true
        autoFix: true
 
    - name: install dependencies
      run: npm ci

    - name: build package
      run: npm run build
 
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: publish package npm
      run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

